---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-primary flex min-h-screen items-center py-20 md:p-0 justify-center">
		<Card/>
	</main>
</Layout>
